/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid,
.fa-regular {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
  width: 65%;
}

/****** Popular ***********/
.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  margin-top: 33px;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

/********** Part 3 and 4 project 2 ***********/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px;
  flex-wrap: wrap;
}

.logo img {
  height: 19px;
  width: auto;
  align-self: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #0065fc;
  letter-spacing: 0.01em;
  border-bottom: white;
  border-left: white;
  border-right: white;
  border-color: blue;
}

.main-title {
  text-align: start;
  margin: 33px 0;
}

.search-form {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 20px 0 20px;
  width: 100%;
}

.fa-location-dot {
  color: black;
  align-items: center;
  padding: 15px 15px 15px;
  width: 14px;
  height: 18px;
  top: 15px;
  left: 18px;
}

.search-section-location {
  width: 50px;
  height: 49px;
  border: 1px;
  border-radius: 12px 0 0 12px;
  color: #f2f2f2;
}

.fa-magnifying-glass {
  color: white;
}

.search-section {
  display: flex;
  align-items: self-start;
  padding: 10px;
  background-color: white;
  border: 2px;
  border-radius: 12px;
}

.search-section.input input {
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  height: 21px;
  flex: 1;
  width: 147px;
}

.search-section.button button {
  display: flex;
  height: 49px;
  align-items: center;
  justify-content: center;
  background-color: #0065fc;
  color: white;
  border: 1px;
  border-radius: 0 12px 12px 0;
  font-size: 16px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-section.button button:hover {
  background-color: #0056b3;
}

.search-text {
  display: inline;
}

.search-icon {
  display: none;
}

@media (max-width: 600px) {
  .search-form {
    flex-wrap: wrap;
  }

  .search-section.input input {
    width: 100%;
  }

  .search-section.button .search-text {
    display: none;
  }
  .search-section.button .search-icon {
    display: inline;
    font-size: 20px;
  }
}

.search-container {
  display: flex;
  border: 2px solid #f2f2f2;
  align-items: center;
  border-radius: 12px;
  gap: 24px;
  width: auto;
  height: 49px;
  overflow: hidden;
}
